body{
  padding-top: 70px;
  padding-bottom: 70px;
}

.fixed-block{
  position: fixed;
  z-index: 100;
  background-color: #ccdfa8;
  color: #729137;
}

.page-header{
  top: 0;
}

.page-footer{
  bottom: 0;
}

.pagination{
  align-self: center;
  width: max-content;
  margin-bottom: 10px;
}

.pagination-element{
  text-align: center;
  min-width: 24px;
  padding: 5px;
  text-decoration: none;
  color: #2e7b33;
}

.pagination-element-disabled{
  pointer-events: none;
}

.pagination-element-active{
  pointer-events: none;
  color: #ffffff;
  background-color: #2e7b33;
}

.image-card{
  position: relative;
}

.close-btn{
  border: none;
  position: absolute;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  font-weight: bold;
}

.close-btn:hover,
.reset-btn:hover{
  background-color: #d1d1d1;
}

.reset-btn{
  border: none;
  margin-bottom: 30px;
  width: 300px;
  align-self: center;
  border-radius: 5px;
  padding: 5px;
}

.controls{
  width: max-content;
  align-self: center;
}