body{
  padding-top: 70px;
  padding-bottom: 70px;
}

.fixed-block{
  position: fixed;
  z-index: 100;
  background-color: #ccdfa8;
  color: #729137;
}

.page-header{
  top: 0;
}

.page-footer{
  bottom: 0;
}
